section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') Start Planning Feature for Globaleur
    p(class='col-lg-8 col-md-10').
      In the summer of 2018,
      I started my full time as a UI/UX designer at Globaleur.
      Globaleur is a web and app platform that uses Machine Learning
      to provide every traveler with a personalized
      and automated travel itinerary with real-time on-site assistance
      and one-stop shop booking solution.

section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') My Role
    p(class='col-lg-8 col-md-10').
      I am responsible for  UX research,
      UX design, interactive prototyping,
      visual design, and user testing.
      Throughout the project, I collaborated with Globaleur's designers,
      engineers, product managers, and other stakeholders.
      I had a lot of fun with it—Hope you enjoy it!

section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') Problem
    p(class='col-lg-8 col-md-10').
      Due to the system was designed based on one city trip,
      users had less freedom to adjust their plan for multiple cities.
      And there were too many steps for the user to plan with multiple cities.
      Our plan generation is using live data,
      and the calculation bases on the chose cities and dates.
    div(class='col-lg-8 col-md-10')
      ol(class='number-list')
        li
          p.
            According to the current design,
            3/4 of the users ignore to choose a date
            before clicking the start planning button.
        li
          p.
            When the users switch the city order,
            they should change the dates manually.
        li
          p.
            When the users select disconnected dates,
            it will cause some buffer days between 2 cities.

section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') Solution
    p(class='col-lg-8 col-md-10').
      Rearrange the way of city and dates picking
      can increase users' potential for discovery,
      editing, engagement, and result in overall enhanced experience.
    div(class='col-lg-8 col-md-10')
      h3(class='section-sub-title') It will be achieved through these 3 goals:
      ol(class='number-list')
        li
          p Users would not skip the date picking process.
        li
          p Users feel less confused when they make some changes.
        li
          p City and date picking process is more straightforward for users to start.

section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') Process
    div(class='section-img-process section-img col-12 container-fluid')
      div(data-toggle="modal"
          data-target="#processModalImg"
          class='section-img-process row justify-content-md-center')
        div(class='col-lg-10 col-md-12 ver-hor-center')
          img(src="/public/assets/process.png", alt="")

section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') Design Tenets
    p(class='col-lg-8 col-md-10') The two tenets were nthe guideline while I was designing the flows.
    p(class='col-lg-8 col-md-10') <strong>Flexibility:</strong> Users should have the most flexibility to make their plans.
    p(class='col-lg-8 col-md-10').
      <strong>Scalability:</strong> Designs should offer better solutions to clear
      and simplify the steps while the users are planning.
      The consistent design should be across the mobile and desktop platform.
      And we should take into account the planning feature's future direction.

section(id='competitors' class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') Competitors
    p(class='col-lg-8 col-md-10').
      We did a competitive analysis.
      There are so many applications doing trip planning,
      but none of them are providing live POI itinerary based on the dates.
      So, we are facing more problems,
      and our flows would be more complicated than them.
    div(class='section-img col-lg-8 col-md-10')
      img(src="/public/assets/competitors.png", alt="")


section(id='persona' class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') Persona
    div(class='gray-bg container-fluid')
      div(class='col-content-8 row justify-content-md-center')
        div(class='col-lg-2 col-md-2 col-sm-4 col-4 ver-hor-center')
          img(src='/public/assets/persona.jpg')
        div(class='col-lg-6 col-md-8 col-sm-8 col-8 ver-center')
          span.
            A 25 young profession is planning his 6-day time off.
            He has several destinations in mind with settled dates.

section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') FLOW
    div(class='carousel-content gray-bg col-lg-12')
      div(id="carouselFlow" class="carousel slide" data-ride="carousel")
        ol(class="carousel-indicators")
          li(data-target="#carouselFlow" data-slide-to="0" class="active")
            span VERSION 01
          li(data-target="#carouselFlow" data-slide-to="1")
            span VERSION 02
        div(class="carousel-inner")
          div(class="carousel-item active")
            img(class="d-block w-100" src="/public/assets/flow-02.png" alt="Version 1")
          div(class="carousel-item")
            img(class="d-block w-100" src="/public/assets/flow-01.png" alt="Version 2")
        a(class="carousel-control-prev" href="#carouselFlow" role="button" data-slide="prev")
          span(class="carousel-control-prev-icon" aria-hidden="true")
          span(class="sr-only") Previous
        a(class="carousel-control-next" href="#carouselFlow" role="button" data-slide="next")
          span(class="carousel-control-next-icon" aria-hidden="true")
          span(class="sr-only") Next
    p(class='col-lg-8 col-md-10').
      The general flow is that a user navigates through the Globaleur city list page to planning cart page for more than one city planning.
    p(class='col-lg-8 col-md-10').
      According to this flow, users need to add the city one by one. Our system requires specific dates to generate planning itinerary. Therefore, after all the cities had been picked, users should select dates for each city manually. After presenting my design explorations with other designers, I found out that changing the way of date picking could help increase planning engagement. So I made a few changes in it. Since planning engagement ties closely with our revenue, I decided to make several wireframes to make the whole flow more intuitive.

section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') WIREFRAME
    div(class='carousel-content gray-bg col-lg-12')
      div(id="carouselWireframe" class="carousel slide" data-ride="carousel")
        ol(class="carousel-indicators")
          li(data-target="#carouselWireframe" data-slide-to="0" class="active")
            span VERSION 01
          li(data-target="#carouselWireframe" data-slide-to="1")
            span VERSION 02
          li(data-target="#carouselWireframe" data-slide-to="2")
            span VERSION 03
        div(class="carousel-inner")
          div(class="carousel-item active")
            img(class="d-block w-100" src="/public/assets/wire1.png" alt="Version 1")
          div(class="carousel-item")
            img(class="d-block w-100" src="/public/assets/wire2.png" alt="Version 2")
          div(class="carousel-item")
            img(class="d-block w-100" src="/public/assets/wire3.png" alt="Version 3")
        a(class="carousel-control-prev" href="#carouselWireframe" role="button" data-slide="prev")
          span(class="carousel-control-prev-icon" aria-hidden="true")
          span(class="sr-only") Previous
        a(class="carousel-control-next" href="#carouselWireframe" role="button" data-slide="next")
          span(class="carousel-control-next-icon" aria-hidden="true")
          span(class="sr-only") Next
    p(class='col-lg-8 col-md-10').
      After doing a competitive analysis and doing some researches on this project, we started working on wireframes. This phase took a lot of time because feasibility is one of the biggest problems for us to consider. After talking with the team and engineer, we got lots of reviews and updates. They gave us a new aspect to think about this feature.
    p(class='col-lg-8 col-md-10').
      The three versions have solid pros and cons. For version #1 and version #2, we didn 't separate the city picking process. We thought it is easier for users to select all the cities that they would like to go at the same time. Since our algorithm requires an actual date to generate trip literature,  the process of date picking is essential.  We tested and evaluated version #1 and version #2. We found out that it simplified the process, but so many changes for the flow would increase and delay the time to launch our App.  So version # 3 is more suitable at this point to achieve the goals.

section(id='final-design' class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') FINAL DESIGN
    div(class='gray-bg container-fluid')
      div(data-toggle="modal"
          data-target="#finalModalImg"
          class='row .ver-hor-center justify-content-md-center')
        div(class='col-lg-12 ver-hor-center')
          img(src="/public/assets/finalD_2.png", alt="")
    p(class='col-lg-8 col-md-10').
      We are giving options to select the same city more than one time.
      Therefore, there is no need to select the home city and the return city.
      The first and the last city on the card will be the start and end city.
      So the "+" button will not change,
      no matter how many times the same city has been added.
      The system will generate a plan based on the order of the cities.
      In that case, users can arrange the orders freely by their needs.
    p(class='col-lg-8 col-md-10').
      Our goal is to make the process simple and more intuitive for the user to start plan.
      After clicking on the "+" button on the city cart,
      the calendar will pop-up directly. After a city selected,
      the cart icon will be colored to show there is something added.

section(id='prototypes' class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') PROTOTYPES
    div(class='container-fluid')
      div(class='row section-first-row')
        div(class='img-wrap col-lg-4 offset-lg-4 col-md-4 offset-md-1 col-sm-12 col-12 ver-hor-center')
          img(src="/public/assets/DP01.gif", alt="")
        div(class='col-lg-4 col-md-6')
          div(class='top-bar')
          h3(class='section-sub-title') Flexibility
          p.
            Date picking becomes more intuitive.
            Users cannot miss this step.
            And it will remind the user that the city and dates they were planed.
          p.
            There is no need to specify the home city and the return city.
            The system will generate a plan based on the listed order.
            And it will simplify the process and with enough information that users might not feel lost and confused.
      div(class='row')
        div(class='img-wrap col-lg-4 col-md-4 order-lg-2 order-md-2 col-sm-12 col-12 ver-hor-center')
          img(src="/public/assets/DP02.gif", alt="")
        div(class='col-lg-4 col-md-6 order-lg-1 order-md-1 offset-lg-0 offset-md-1')
          div(class='top-bar')
          h3(class='section-sub-title') Scalability
          p.
            This version clears and simplifies the steps while the users are picking more than one cities.
            The calendar will remind the user that the date and city they have picked.
            This page can easily be reformatted as a page for different devices.

section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') REFLECTION
    p(class='col-lg-8 col-md-10').
      Differences between roles in a team will affect each staff’s preferences and perspective of a to-be-defined good product.
      The biggest challenge to a UX designer is to create the most satisfactory design possible based on feedback from all the Stakeholders.
      Those feedbacks must be reviewed, filtered, and leverage to achieve such a result.
    p(class='col-lg-8 col-md-10').
      Working for Globaleur,
      a fast-growing start-up requires me to work with speed and efficiency,
      keeps challenging myself and learns new techs to improve my problem-solving skill.
