section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') PLANNING FEATURE FOR GLOBALEUR
    p(class='col-lg-8 col-md-10').
      Planning is the primary feature for Globaleur App.
      The whole feature is very complicated.
      However, we used to use one page to operate all functions.
      After user testing, we figured out that users felt so confused about our planning page.
      The redesign of the planning page is essential to help increase engagement when users browse and organize their trips.

section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') MY ROLE
    p(class='col-lg-8 col-md-10').
      My responsibilities included UX research, UX design,
      interactive prototyping, visual design.
      I collaborated with other designers, PMs, researchers, and developers.

section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') PROBLEM
    p(class='col-lg-8 col-md-10').
      We used to combine all the functions into the same page(Editing, daily details, map, day tabs, add new places, etc.).
      The planning page is very complicated for users to use.
    p(class='col-lg-8 col-md-10').
      The users who did the user testing were unfamiliar with our app.
      Some users ended up in the wrong category,
      which could diminish their confidence with our platform.
      Some users did not have the patience to figure out what does this page used.
      It was likely that this page contained so much information that users might feel lost and confused,
      then they ended up leaving our site entirely.
      Some users did not care what the contents were,
      which lead to another problem: how to attract users' eyes and display more valuable materials on the page.
    div(class='col-lg-8 col-md-10')
      ol(class='number-list')
        li
          p.
            Too many functions displayed on one page.
            It is too complicated for one app page to show that much information.
        li
          p.
            Contents need to be more careful to reveal on the page.
            Pure text leaves so much white space, which looks too simple to dull.

section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') SOLUTION
    p(class='col-lg-8 col-md-10').
      Redesign the process of planning pages can increase users' potential for discovery,
      editing, and engagement with the app.
    p(class='col-lg-8 col-md-10 solution-subtitle').
      It will be achieved through 2 goals:
    div(class='col-lg-8 col-md-10')
      ol(class='number-list')
        li
          p.
            Users would not feel lost and confused,
            and there is no need to spend more time to learn while they are planning the trips.
        li
          p.
            Leverage the content and Increase the click rate for users to check the suggestions.

section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') PROCESS
    p(class='col-lg-8 col-md-10').
      I follow an end-to-end design process that starts with research and continues with product thinking,
      wireframe, user testing, design refinement, visual design, and post-launch support.
    div(class='section-img-process section-img col-lg-12 container-fluid')
      div(class='section-img-process row justify-content-md-center')
        div(class='col-lg-10 ver-hor-center')
          img(src="/public/assets/PF_process.png", alt="")

section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') DESIGN TENETS
    p(class='col-lg-8 col-md-10').
      The two tenets were the guideline while I was designing the flows.
    h3(class='section-sub-title col-lg-8 col-md-10') Discoverability
    p(class='col-lg-8 col-md-10').
      A.I. trip suggestion is one of the most prominent advantages of our platform.
      Users should be aware of live event offerings,
      famous POI(Point of Interest) suggestions,
      and viewing availability across multiple platforms.
    h3(class='section-sub-title col-lg-8 col-md-10') Balance
    p(class='col-lg-8 col-md-10').
      There must be a balance between giving the user too much and too little information.
      Too much, we risk overwhelming the user and complicating the process.
      Too little, we risk confusing them.

section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') COMPETITORS
    p(class='col-lg-8 col-md-10').
      We also looked for other existing products which serve a similar purpose.
      We did a competitive analysis on the current products like Roadtrippers and Quer,
      etc. They all have completed trip generation flows,
      which serve for different purposes.
      They have good user experience for dealing with complicated plan information.

section(id='persona' class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') Persona
    div(class='gray-bg container-fluid')
      div(class='col-content-8 row justify-content-md-center')
        div(class='col-lg-2 col-md-2 col-sm-4 col-4 ver-hor-center')
          img(src='/public/assets/persona.png')
        div(class='col-lg-6 col-md-8 col-sm-8 col-8 ver-center')
          span.
            A 28 young profession is planning his 6-day business trip in San Francisco.
            Globaleur has access to his business schedule and records his preferences.

section(id='wireframe' class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') WIREFRAME
    div(class='gray-bg container-fluid')
      div(class='row justify-content-md-center')
        div(class='col-lg-12 ver-hor-center')
          img(src="/public/assets/version1.png", alt="")
    p(class='col-lg-8 col-md-10').
      For the 1st version, our team assumed that displayed all the functions in one page could help users fast navigate our app and save more clicking steps.
      All functions showed at the same time, so users could feel more comfortable to plan their trip.
    h3(class='section-sub-title col-lg-8 col-md-10') 1. Valuable but confusing
    p(class='col-lg-8 col-md-10').
      After we did a user testing, we found out 86% of users felt so confused about the planning page, indicating that it was too welcoming to check everything in one page. It was likely that planning pages contained so much information that users might feel lost and confused, and they ended up leaving our site entirely.
    p(class='col-lg-8 col-md-10').
      Like "Create New" and "Use This Plan" buttons,  they have different meanings. However, they showed at the same time in the plan preview page for various purposes. They could not indicate how the features work.
    h3(class='section-sub-title col-lg-8 col-md-10') 2. Useful but Low Usage
    p(class='col-lg-8 col-md-10').
      a. A few users started a new plan instead of using others' idea. The suggestion would show up in the empty planning page to help save time for POI exploration. However, limited information didn't look appealing to users.
    p(class='col-lg-8 col-md-10').
      b. Users expected a lot about the map. However, because of the limited space, the map looks too small to display the routes. It is a handy function, but the size makes it useless.

    div(id='version-2-img' class='gray-bg container-fluid')
      div(class='row justify-content-md-center')
        div(class='col-lg-12 ver-hor-center')
          img(src="/public/assets/Version2.png", alt="")
    p(class='col-lg-8 col-md-10').
      According to the problems we figured out from the previous version, we redesigned the planning pages.
    h3(class='section-sub-title col-lg-8 col-md-10') 1. Valuable but confusing
    p(class='col-lg-8 col-md-10').
      We separated the planning page into "Planning Pub" and "Planning Detail". The page layout and hierarchy are more precise than before. Plan preview(others plan) and planning(personal) are two individual pages, although they have the same layout.
    h3(class='section-sub-title col-lg-8 col-md-10') 2. Useful but Low Usage
    p(class='col-lg-8 col-md-10').
      a. Change the layout for the suggestions and visualize the data to catch users' eyes.
    p(class='col-lg-8 col-md-10').
      b. Full-screen map with a detailed route can provide more information for the users.

section(id='more-exploration' class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') MORE EXPLORATION
    div(class='gray-bg container-fluid')
      div(class='row justify-content-md-center')
        div(class='col-lg-12 ver-hor-center')
          img(src="/public/assets/MoreExploration.png", alt="")
    p(class='col-lg-8 col-md-10').
      When we complete version 2, we did another user testing with our target audiences. The majority of them had no confused at all, and they said this planning function is easy to use. Except the planning hub page did not show much information, and it looked pretty empty. Although we got significant progress for our app, we decided to do more explorations on the planning hub page.
    div(class='col-lg-8 col-md-10 info-list')
      p.
        Here is the information we can use for the hub page
      ul(class='no-style-ul')
        li
          p -Daily routes(need a bigger map)
        li
          p -City itineraries(Visualization)
        li
          p -Dates, weathers, locations, etc.(Basic information)
        li
          p -Trip summary(Visualization)
        li
          p -POI(Visualization)
    p(class='col-lg-8 col-md-10').
      After presenting my design explorations with other designers and engineers, I found out that big images and icons simplify the information.  Visualization summary could help increase user engagement. Generally, the pictured itinerary list became a winning experiment.
    p(class='col-lg-8 col-md-10').
      I decided to use a foldable design to avoid any visual noise so that users would engage more easily with the daily card. Moreover, it also left more space for the suggestion.

section(id='final-design' class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') FINAL DESIGN
    div(class='gray-bg container-fluid')
      div(class='row justify-content-md-center')
        div(class='col-lg-12 ver-hor-center')
          img(src="/public/assets/final.jpg", alt="")
    p(class='col-lg-8 col-md-10').
      "Planning hub" and "Planning Detail" are sharing different functions, which make the planning process more organized. Visualized itineraries are more appealing to users. Adequate information not only fills the white space but also improves the engagement with users.  It decreases the possibility of misunderstanding and confusing, and the users won't need time to learn while they are planning the trips.
    p(class='col-lg-8 col-md-10').
      A.I. trip suggestion is one of the most prominent advantages of our platform. Users must be comfortable to access the suggestions from our system. This new design increases the click rate for users to check the recommendations.

section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') REFLECTION
    h3(class='section-sub-title col-lg-8 col-md-10') 1. Utilizing user testing and data analysis
    p(class='col-lg-8 col-md-10').
      It is an excellent opportunity to gain insights from real users.
      After we tested our design solutions,
      user behaviors revealed how users work with our app.
      It helps to build a better product for the users.
    h3(class='section-sub-title col-lg-8 col-md-10') 2. Feedback
    p(class='col-lg-8 col-md-10').
      I feel more confident to present all possible solutions that I've explored in front of my peers. To reach maximum optimization, I continuously share my work with both designers and non-designers. Good communication is a solid foundation, and their suggestions have optimized the design.
