<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="processModalImg" role="dialog" tabindex="-1">
	<div class="modal-dialog modal-lg ver-hor-center" role="document">
		<div class="modal-content">
			<div class="modal-body mb-0 p-0">
				<img src="/public/assets/sfprocess.png" alt="" style="width:100%">
			</div>
		</div>
	</div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="researchModalImg" role="dialog" tabindex="-1">
	<div class="modal-dialog modal-lg ver-hor-center" role="document">
		<div class="modal-content">
			<div class="modal-body mb-0 p-0">
				<img src="/public/assets/Research.png" alt="" style="width:100%">
			</div>
		</div>
	</div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="journeyMapModalImg" role="dialog" tabindex="-1">
	<div class="modal-dialog modal-lg ver-hor-center" role="document">
		<div class="modal-content">
			<div class="modal-body mb-0 p-0">
				<img src="/public/assets/Journeymap.png" alt="" style="width:100%">
			</div>
		</div>
	</div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="firstProtoModalImg" role="dialog" tabindex="-1">
	<div class="modal-dialog modal-lg ver-hor-center" role="document">
		<div class="modal-content">
			<div class="modal-body mb-0 p-0">
				<img src="/public/assets/1stproto.jpg" alt="" style="width:100%">
			</div>
		</div>
	</div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="more_expModalImg" role="dialog" tabindex="-1">
	<div class="modal-dialog modal-lg ver-hor-center" role="document">
		<div class="modal-content">
			<div class="modal-body mb-0 p-0">
				<img src="/public/assets/more_exp.png" alt="" style="width:100%">
			</div>
		</div>
	</div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="expenseModalImg" role="dialog" tabindex="-1">
	<div class="modal-dialog modal-lg ver-hor-center" role="document">
		<div class="modal-content">
			<div class="modal-body mb-0 p-0">
				<img src="/public/assets/expense.png" alt="" style="width:100%">
			</div>
		</div>
	</div>
</div>