section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') SAN FRANCISCO CABLE CAR DIGITAL MAP
    p(class='col-lg-8 col-md-10').
      The San Francisco cable car system is the world's last manually operated cable car system. And also it is a one of symbolic transportation of San Francisco. The infrastructure of cable car hasn't changed for decades. Even on one of the biggest stations in the SF cable car system(the Powell Station), there is no visible tourism information about the price,  the route, and the instructions. I still remember how frustrated I was when I first took the cable car.

section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') MY ROLE
    p(class='col-lg-8 col-md-10').
      My responsibilities included UX research, UX design, interactive prototyping, and visual design. Shout out to Jimin and Onseul for being awesome team members!

section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') PROBLEM
    p(class='col-lg-8 col-md-10').
      We want to make it easier for tourists to take the cable car in Powell station. The majority of the tourists are non-Americans, so data access is one of the most significant issues for them while they are on the street. The underlying problem is all information is hidden. No station signs, no train routes, even the ticket office locates far away from the station. So if they are not familiar with the directions, it is so hard for them to know where they are. Additionally, the line in Powell station always super long. How to kill time is another issue for them.
    div(class='col-lg-8 col-md-10')
      ol(class='number-list')
        li
          span There is no visible sign for cable car signs and stops. Without data access, it becomes even harder to figure out the route and track the way on the cable car.
        li
          span Unexpected long line, if there is no phone with them, there is nothing special to kill time.

section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') SOLUTION
    p(class='col-lg-8 col-md-10').
      We want to help tourists feel fun while they are trying to figure out the directions. Both adults and children can access and play together.
    p(class='col-lg-8 col-md-10').
      A digital installation becomes our first choice, which not only can show stops and routes of the cable car but also adults and children can play together.

section(id='process' class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') PROCESS
    p(class='col-lg-8 col-md-10').
      I follow an end-to-end design process that starts with research and continues with product thinking, wireframe, user testing, design refinement, and prototyping.
    div(class='process-img col-lg-12')
      img(src="/public/assets/sfprocess.png", alt="")

section(id='research' class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') RESEARCH
    div(class='gray-bg container-fluid')
      div(class='row no-gutters justify-content-md-center')
        div(class='col-lg-12 ver-hor-center')
          img(src="/public/assets/Research.png", alt="")
    p(class='col-lg-8 col-md-10').
      After the interview with our target audiences in Powell cable car station, we found out, up to 81percent tourists have the same concerns about the stops. So the primary function of the installation is to display the routes. Besides, 91% of passengers are the first time to take the cable car, and the average waiting time is an hour. Therefore,  we thought that play a diverting installation will become an unforgettable memory in their the dull waiting period.

section(id='journey-map' class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') JOURNEY MAP
    div(class='gray-bg container-fluid')
      div(class='row no-gutters justify-content-md-center')
        div(class='col-lg-12 ver-hor-center')
          img(src="/public/assets/Journeymap.png", alt="")

section(id='prototype-1' class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') 1ST PROTOTYPE
    div(class='gray-bg container-fluid')
      div(class='row no-gutters justify-content-md-center')
        div(class='col-lg-12 ver-hor-center')
          img(src="/public/assets/1stproto.jpg", alt="")
    p(class='col-lg-8 col-md-10').
      Based on the interview data, We made the first prototype. It was a standing installation. Each side allowed one person to use. So user not only can check the stops and routes but also can get more information about the cable car's history, safety tips, and payment method. After we showed our prototype to the users, they said it looked like an information display machine, and no one felt it was fun enough. Besides, They preferred to use phone privately instant of using the installation to browse in front of the public.
    p(class='col-lg-8 col-md-10').
      We start to think about how to let everyone use the machine naturally in front of the public and enjoy the time with it.

section(id='more-exploration' class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') MORE EXPLORATION
    div(class='gray-bg container-fluid')
      div(class='row no-gutters justify-content-md-center')
        div(class='col-lg-12 ver-hor-center')
          img(src="/public/assets/more_exp.png", alt="")
    p(class='col-lg-8 col-md-10').
      After more exploration and testing, we decided to focus on the primary problem of users and get rid off the unnecessary functions like weather, history, and payment, etc.  Therefore, a digital map would be the right choice to display stops and routes.
    p(class='col-lg-8 col-md-10').
      But, How could a detailed map look fun? Animation? Yes, but not enough! So we decided to add safety tips and the landmarks. Landmarks indicated the directions. Safety tips can full fill the story.  Besides, both of the contents increased the touchable area.
    p(class='col-lg-8 col-md-10').
      We were starting to use illustrator to draw the whole map and After Effects to make the animations.

section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') PRICE AND SIZE GUIDE
    div(class='gray-bg container-fluid')
      div(class='row no-gutters justify-content-md-center')
        div(class='col-lg-12 ver-hor-center')
          img(src="/public/assets/expense.png", alt="")

section(id='user-testing' class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') USER TESTING
    div(class='container-fluid')
      div(class='row no-gutters justify-content-md-center')
        div(class='col-lg-12')
          div(class='embed-16-9')
            <iframe src="https://player.vimeo.com/video/269454147" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    p(class='col-lg-8 col-md-10').
      We shared the prototype with our potential users. They all liked it so much, and they all wondered when we could make this digital map for real.

section(id='final-design' class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') FINAL DESIGN
    div(class='container-fluid')
      div(class='row no-gutters justify-content-md-center')
        div(class='col-lg-12 ver-hor-center')
          img(src="/public/assets/3-inline.gif", alt="")
        div(class='col-lg-12 ver-hor-center')
          img(src="/public/assets/route_animation.gif", alt="")
        div(class='col-lg-12 ver-hor-center')
          img(src="/public/assets/Whole_Map_color.jpg", alt="")
        div(class='col-lg-12 section-video')
          div(class='embed-16-9')
            <iframe src="https://player.vimeo.com/video/269529246" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        div(class='col-lg-12 ver-hor-center')
          img(src="/public/assets/Mock-up.jpg", alt="")

section(class="container-fluid")
  div(class="section-wrapper row justify-content-md-center")
    h2(class='section-title col-lg-8 col-md-10') REFLECTION
    p(class='col-lg-8 col-md-10').
      This experience helped to have a deeper understanding of how to develop a real product. The three most important things I learned from this project:
    div(class='col-lg-8 col-md-10')
      ol(class='number-list')
        li
          span User testing is essential; without it, I could create an installation that no one would use.
        li
          span We should remind ourself what the primary problem for the user is, so other non-important issues would not obstruct our design.
        li
          span My illustration and animation skills improved a lot.

