extends layout.pug
block content
  div(class='project-wrapper')
    div(class='greeting-img')
      img(
        class=''
        src=''
      )
    section
      h2 Start Planning Feature for Globaleur
      p.
        In the summer of 2018,
        I started my full time as a UI/UX designer at Globaleur.
        Globaleur is a web and app platform that uses Machine Learning
        to provide every traveler with a personalized
        and automated travel itinerary with real-time on-site assistance
        and one-stop shop booking solution.

    section
      h2 My Role
      p.
        Due to the system was designed based on one city trip,
        users had less freedom to adjust their plan for multiple cities.
        And there were too many steps for the user to plan with multiple cities.
        Our plan generation is using live data,
        and the calculation bases on the chose cities and dates.
      ul
        li
          p.
            According to the current design,
            3/4 of the users ignore to choose a date
            before clicking the start planning button.
        li
          p.
            When the users switch the city order,
            they should change the dates manually.
        li
          p.
            When the users select disconnected dates,
            it will cause some buffer days between 2 cities.

    section
      h2 Solution
      p.
        Rearrange the way of city and dates picking
        can increase users' potential for discovery,
        editing, engagement, and result in overall enhanced experience.
      h3 It will be achieved through these 3 goals:
      ul
        li
          p Users would not skip the date picking process.
        li
          p Users feel less confused when they make some changes.
        li
          p City and date picking process is more straightforward for users to start.

    section
      h2 Process
      img(src="", alt="")

    section
      h2 Design Tenets
      p The two tenets were nthe guideline while I was designing the flows.
      h3 Flexibility
      p Users should have the most flexibility to make their plans.
      h3 Scalability
      p.
        Designs should offer better solutions to clear
        and simplify the steps while the users are planning.
        The consistent design should be across the mobile and desktop platform.
        And we should take into account the planning feature's future direction.

    section
      h2 Competitors
      p.
        We did a competitive analysis.
        There are so many applications doing trip planning,
        but none of them are providing live POI itinerary based on the dates.
        So, we are facing more problems,
        and our flows would be more complicated than them.

      section
        h2 Persona
