extends layout.pug
block content
  div(class='project-wrapper')
    div(class='greeting-img')
      img(
        class=''
        src=''
      )
    div(class="container")
      include includes/datePickingSections