extends layout.pug
block content
  div(class='project-wrapper')
    div(class='greeting-img')
      img(
        class=''
        src='/public/assets/datepick_homepic.png'
      )
    div(class="")
      include includes/datePickingSections
    div(class="next-project container-fluid")
      include includes/next
    div(id='back-to-top-btn' class="ver-hor-center")
      span top
  script(src='/public/js/project.js')