doctype html
html(lang="en")
  include includes/head.pug
  body
    include includes/navbar.pug
    div(id='greeting-bg')
    div(id='content-wrapper')
      block content
    div(id='back-to-top-btn')
  include includes/footer.pug