doctype html
html(lang="en")
  include includes/head.pug
  body
    include includes/navbar.pug
    div(id='greeting-bg')
    div(id='content-wrapper')

      block content
  include includes/footer.pug