extends layout.pug
block content
  div(class='project-wrapper')
    div(class='greeting-img')
      img(
        class=''
        src='/public/assets/planhub_homepic.png'
      )
    div(class="")
      include includes/planningSections
    div(class="next-project container")
      include includes/next
    div(id='back-to-top-btn' class="ver-hor-center")
      span top
    div(class='modal-content')
      include includes/planningModal
  script(src='/public/js/project.js')