extends layout.pug
block content
  div(class='project-wrapper')
    div(class='greeting-img')
      img(
        class=''
        src='/public/assets/sf_homepage.png'
      )
    div(class="")
      include includes/sfccdm320Sections