extends layout.pug
block content
  div(class='project-wrapper')
    div(class='greeting-img')
      img(
        class=''
        src='/public/assets/sf_homepage.png'
      )
    div(class="")
      include includes/sfccdm320Sections
    div(class="next-project container-fluid")
      include includes/next
    div(id='back-to-top-btn' class="ver-hor-center")
      span top
    div(class='modal-content')
      include includes/sfccdm320Modal
  script(src='/public/js/project.js')