@import "main.css";
@import "project.css";
/* .col-content-8 {
  padding-left: 16.67%;
  padding-right: 16.67%;
} */
#persona .col-content-8 {
  height: 200px;
}
#persona .col-content-8 img {
  max-width: 100px;
}
#final-design .gray-bg .row{
  height: 500px;
}
#final-design .gray-bg{
  height: 500px;
  margin-bottom: 30px;
}
#prototypes .top-bar {
  width: 65px;
  height: 2px;
  border-top: solid 2px #33427c;
  margin-bottom: 30px;
}
#competitors .section-img {
  height: 65px;
  /* margin-top: 15px; */
}
#prototypes .section-title {
  margin-bottom: 50px;
}
#prototypes .section-first-row {
  margin-bottom: 100px;
}
.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
  color: #33427c;
}
.carousel-indicators{
  margin-top: 20px;
  top: 0;
  bottom: unset;
  justify-content: start;
}
.carousel-indicators li {
  width: unset;
  height: unset;
  text-indent: unset;
  background: transparent;
  margin-right: 120px;
  color: #33427c;
}
.carousel-indicators li.active span{
  border-bottom: #33427c 2px solid;
}
.carousel-indicators li span {
  font-size: 14px;
  font-weight: 500;
}
.carousel-inner .carousel-item img {
  margin-top: 60px;
}
#carouselWireframe .carousel-item {
  margin-top: 60px;
}
#carouselWireframe .carousel-item img {
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .carousel-indicators {
    margin-left: 5%;
    margin-right: 5%;
  }
  .carousel-indicators li {
    margin-right: 0;
    width: 50%;
    text-align: center;
  }
  #carouselWireframe .carousel-indicators li {
    width: 33.3%;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  #prototypes .img-wrap {
    margin-bottom: 30px;
  }
  #prototypes .section-first-row {
    margin-bottom: 100px;
  }
}
