@import "main.css";
@import "partials/homePageHeaderLinks.css";

.txt-rotate .wrap {
    border-right: 2px solid #33427c;
    white-space: pre-wrap;
    padding-right: 2px;
}
.intro-greeting {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #44467a;
}
.intro-text {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #454545;
}
.project-list {
    margin-top: 150px;
}
.project-list a {
    text-decoration: none;
}
.project-list .project-image {
    transition: background-color 0.3s;
}
.project-list a:hover .project-image {
    background-color: #989FBD;
}
.project {
    margin-top: 100px;
}
.project .project-image {
    height: 400px;
    background-color: #f5f5f8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project .project-subtitle {
    opacity: 0.71;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #33427c;
}
.project .project-title {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #454545;
    padding-top: 12px;
}
.project-image img {
    max-width: 100%;
    max-height: 100%;
}
.intro-text {
    margin-bottom: 1.5em;
}
.self-intro.container {
    margin-top: 100px;
}
.contact-info {
    padding-left: 1.5rem;
}
@media screen and (max-width: 991px) {
    .project-head {
        margin-top: 20px;
    }
}
@media screen and (min-width: 768px) {

}
@media screen and (max-width: 767px) {
    .project .project-title {
        font-size: 20px;
    }
    .project .project-image {
        height: 290px;
    }
    .hidden-sm {
        display: none;
    }
    .navbar-nav {
        display: flex !important;
    }
    .contact-info {
        display: none;
    }
}
