@import "navbar.css";
body {
    max-width: 1140px;
    margin: auto;
    font-size: 18px;
    font-family: 'Hind Madurai', sans-serif;
}
@media screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }
}
.hidden {
    display: none;
}
.title {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1.38em;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #454545;
}
.strong-contents {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1em;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #454545;
}
.contents {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #454545;
}
.subtitle {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 0.88em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #33427c;
}
#content-wrapper{
    padding-top: 90px;
}
#footer{
    padding-top: 80px;
}
#copy-right{
    opacity: 0.71;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5808B6;
    text-align: center;
}
#greeting-bg{
    display: none;
}
.navbar .navbar-brand img {
    width: 64px;
    height: 64px;
}
.tooltip-inner {
    background-color: #33427c;
    color: #ffffff;
}
.tooltip .arrow::before {
    border-bottom-color: #33427c;
}
#nav-email-copy {
    cursor: pointer;
    position: relative;
}
#nav-email-copy-wrapper {
    top: 35px;
    padding-top: 8px;
    position: absolute;
    width: 220px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}
#nav-email-copy-wrapper input {
    width: 140px;
    padding-left: 8px;
    vertical-align: middle;
    height: 36px;
    border: 0;
    cursor: text;
    color: #33427c;
    font-size: 12px;
    font-weight: 300;
}
#nav-email-copy-wrapper button {
    width: 62px;
    height: 100%;
    border-radius: 3px;
    background-color: #33427c;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    border: 0;
}
/* #nav-email-copy:hover #nav-email-copy-wrapper{
    visibility: visible;
    opacity: 1;
} */
#nav-email-copy-success{
    left: 0;
    font-size: 12px;
}
#nav-email-copy .email-address {
    display: inline-block;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #e2e2e2;
}
@keyframes spining {
    0% {transform: rotate(0deg);}
    75% {transform: rotate(360deg);}
    100% {transform: rotate(360deg);}
}

@media screen and (max-width: 767px) {
    .navbar .navbar-brand img {
        width: 40px;
        height: 40px;
    }
}