@import "navbar.css";
body {
    max-width: 1140px;
    margin: auto;
    font-size: 18px;
    font-family: 'Hind Madurai', sans-serif;
}
.hidden {
    display: none;
}
.title {
    font-family: HindMadurai;
    font-size: 1.38em;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #454545;
}
.strong-contents {
    font-family: HindMadurai;
    font-size: 1em;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #454545;
}
.contents {
    font-family: HindMadurai;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #454545;
}
.subtitle {
    font-family: HindMadurai;
    font-size: 0.88em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #33427c;
}
#content-wrapper{
    padding-top: 66px;
}