@import "main.css";
@import "project.css";
#persona .col-content-8 {
  height: 200px;
}
#persona .col-content-8 img {
  max-width: 125px;
}
#wireframe .gray-bg,
#final-design .gray-bg {
  margin-bottom: 20px;
}
#version-2-img {
  margin-top: 80px;
}
#more-exploration .gray-bg {
  margin-bottom: 20px;
}
.solution-subtitle {
  font-weight: 500;
  margin-bottom: 5px;
}
@media screen and (max-width: 767px) {
  #persona .col-content-8 img {
    max-width: 100%;
  }
}