@import "main.css";
@import "project.css";
#persona .col-content-8 {
  height: 200px;
}
#persona .col-content-8 img {
  max-width: 125px;
}
#wireframe .gray-bg{
  margin-bottom: 20px;
}
#final-design .gray-bg {
  margin-bottom: 50px;
}
#version-2-img {
  margin-top: 80px;
  margin-bottom: 0 !important;
}
#more-exploration .gray-bg {
  margin-bottom: 20px;
}
#solution .list-title {
  margin-bottom: 1em;
}
#greeting-bg{
  background-color: #3e70ff;
}
.solution-subtitle {
  font-weight: 500;
  margin-bottom: 5px;
}
.info-list {
  margin-bottom: 1.5em;
}
.info-list .no-style-ul {
  margin-bottom: 0;
  margin-top: 1em;
}
.plan-gif {
  margin-bottom: 1.5em;
}
.final-plan-gif {
  text-align: center;
  margin-bottom: 50px;
}
.final-plan-gif p {
  font-size: 18px;
  color: #454545;
  font-weight: 500;
  margin-top: 10px;
}
#more-exp-1 {
  max-height: 500px;
}
#more-exp-2 {
  padding-bottom: 50px;
}
@media screen and (max-width: 767px) {
  #persona .col-content-8 img {
    max-width: 100%;
  }
  .final-plan-gif:first-child {
    margin-bottom: 30px;
  }
}