@import "main.css";
@import "project.css";
#persona .col-content-8 {
  height: 200px;
}
#persona .col-content-8 img {
  max-width: 125px;
}
img {
  max-width: 100%;
}
#process .process-img {
  margin-top: 30px;
}
#research p,
#user-testing p {
  margin-top: 30px;
}
#journey-map .ver-hor-center,
#prototype-1 .ver-hor-center{
  height: 500px;
}
#prototype-1 .gray-bg,
#more-exploration .gray-bg {
  margin-bottom: 30px;
}
#final-design .section-video {
  margin-bottom: 50px;
  margin-top: 50px;
}
#box-sd-1 {
  box-shadow: 0 4px 8px 0 #f8f9fa, 0 6px 20px 0 #f4f5f7;
}
#box-sd-2 {
  box-shadow: 0 3px 8px 0 #8c8c8c;
}
#final-design .design-img-container:not(:last-child) {
  margin-bottom: 100px;
}
#greeting-bg{
  background-color: #ff6969;
}